body{
    overflow: hidden;
}
div.container {
	background-color: salmon;
	display: flex;    
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    height: 300px;
}

div.item {
    background-color: aqua;
    text-align: center;
    border: 1px solid black;
    
}


