div.pai{
    display: flex;
    flex-flow: row wrap;
    background-color: gray;
    height: 100px;
}

div.item{
    flex: auto;
    background-color: lightblue;
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    }